<template>
  <div id="admins" class="row h-100">
    <component :is="layout">
      <div class="col contenido ms-5">
        <cabecera
          ruta="administradores"
          ocultar="hidden"
          decoration="hidden"
          titulo="Administradores CX"
        >
          <div class="container d-flex">
            <div class="d-flex contenedor-buscar me-3" >
              <img src="../../assets/img/iconoBuscar.svg" class="filtro-gris p-2" />
              <input class="input-equipos" v-model="buscar" type="text" placeholder="Buscar" />
              <button v-if="buscar" class="btn" @click="borrarInput"><i class="bi bi-x-lg"></i></button>
            </div>
            <router-link
              to="/crear-administradores"
              class="btn btn-crear"
            >
              Crear administrador
            </router-link>
          </div>
        </cabecera>
        <div class="row" v-if="items == '' ">
          <div id="equipos-vacio" class="d-flex justify-content-center align-items-center">
            <img src="../../assets/img/iconAdmin.svg" alt="" class="me-5" />
          </div>
          <div  class="d-flex justify-content-center align-items-center mt-4 ">
            <h6 class="me-5">No hay administradores</h6>
          </div>
        </div>
        <div class="row" v-if="!admins.length">
          <div id="equipos-vacio" class="d-flex justify-content-center align-items-center">
            <img src="../../assets/img/iconAdmin.svg" alt="" class="me-5" />
          </div>
          <div  class="d-flex justify-content-center align-items-center mt-4 ">
            <h6 class="me-5">No hay administradores creados</h6>
          </div>
        </div>
        <div class="row"  v-if="admins.length">
          <cardAdmin
            v-for="(admin, key) in items"
            :key="key"
            :nombre=admin.nombres
            :apellidos=admin.apellidos
            :imagen=admin.imagen
            :id=admin.id
          />
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axios from "@/services/auth/auth.js";
export default {
  name: "administradores",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
    cardAdmin: () => import("./components/cardAdmins.vue"),
  },
  data() {
    return {
      layout: "navbarLayout",
      cabecera: "cabecera",
      cardAdmin: "cardAdmin",
      admins: [],
      buscar: "",
      buscador: String
    };
  },
  mounted() {
    this.administradores();
  },
  computed: {
    items() {
      if(this.buscar.length != ""){
        return this.admins.filter(
          (o) => o.nombres.toLowerCase().indexOf(this.buscar) > -1
        );
        
      }else{
        return this.admins;
      }
    },
  },
  methods: {
   async administradores() {
      try {
        const {data} = await axios.listarAdmins();
        this.admins = data
      } catch (error) {
        return error;
      }
    },
    borrarInput(){
      this.buscar = "";
    }
  },
};
</script>

<style scoped>
.img-admin {
  width: 96px;
  height: 96px;
  opacity: 1;
}
.vacio {
  margin-top: 5cm;
}
</style>