<template>
  <div id="adminsInfo" class="row h-100">
    <component :is="navbar">
      <div class="contenido h-100 ms-5">
        <cabecera
          :titulo="admin.nombres"
          ruta="administradores"
          decoration="visible"
          :rutaSec="admin.nombres"
          ocultar="hidden"
        ></cabecera>
        <div class="container h-100">
          <div class="row mt-3">
            <div class="col-2">
              <img class="img-adm" :src="admin.imagen" alt="" />
            </div>
            <div class="col-5 ms-5">
              <div class="row align-items-center">
                <img
                  src="../../assets/img/iconoCorreo.svg"
                  alt="IconTelefono"
                  class="icono-admin-edit"
                />
                {{ admin.correo }}
              </div>
              <div class="row align-items-center">
                <img
                  src="../../assets/img/iconoTelefono.svg"
                  alt="IconTelefono"
                  class="icono-admin-edit"
                />
                {{ admin.telefono }}
              </div>
              <div class="row align-items-center">
                <img
                  src="../../assets/img/iconoContraseña.svg"
                  alt="IconTelefono"
                  class="icono-admin-edit"
                />
                .........
              </div>
              <div class="row align-items-center mt-3 ms-2">
                <router-link
                  v-if="admin"
                  :to="{
                    name: 'editar-admins',
                    params: { id: this.$route.params.id },
                  }"
                  class="btn btn-admn mx-1"
                  ><i class="bi bi-pencil"></i
                ></router-link>
                <button
                  class="btn btn-admn"
                  data-bs-toggle="modal"
                  data-bs-target="#eliminarAdminModal"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <modal />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4 acerca">
            <p>Acerca de {{ admin.nombres | capitalize}}</p>
          </div>
          <div class="row">
            <div class="col-7">
              <p>
                {{ admin.acercaAdmin | capitalize }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axios from "@/services/auth/auth.js";
export default {
  name: "adminsInfo",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
    modal: () => import("./components/modalEliminar.vue"),
  },
  created() {
    this.show();
  },
  data() {
    return {
      navbar: "navbarLayout",
      cabecera: "cabecera",
      modal: "modalEliminar",
      admin: [],
    };
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    
  },
  methods: {
    async show() {
      try {
        let id = this.$route.params.id;
        const { data } = await axios.listarUnAdmin(id);
        this.admin = data.user;
      } catch (error) {
        return error;
      }
    },
  },
};
</script>
<style lang="css" scoped>
.img-adm {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.titulo-modal {
  text-align: left;
  font: normal normal medium 17px/20px Gilroy ☞;
  letter-spacing: -0.42px;
  color: #000000;
  opacity: 1;
}
.text-modal {
  text-align: center;
  font: normal normal 300 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.btn-admn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffd4df 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-admn:hover {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  color: white;
}
.icono-admin-edit {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-inline: 1pc;
}
p {
  text-align: left;
}
</style>