<template>
  <div id="crearAdmin" class="row h-100">
    <component :is="navbar">
      <form action="" id="crearAdmins" @submit.prevent="register">
        <div class="col contenido ms-5 h-100">
          <cabecera
            ruta="administradores"
            decoration="hidden"
            rutaSec="Crear administrador"
            titulo="Crear administrador"
            ocultar="hidden"
          >
            <div class="container">
              <button type="submit" class="btn btn-crear">Guardar</button>
            </div>
          </cabecera>
          <div class="row h-100 mt-5">
            <div class="col-2">
              <div class="agregar-imagen">
                <slim-cropper
                  class="agregar-imagen"
                  ref="imagen_admin"
                  :options="slimOptions"
                >
                  <input type="file" name="slim" id="slim" />
                </slim-cropper>
                <p class="error" v-if="errores.imagen">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.imagen[0] }}
                </p>
              </div>
            </div>
            <div class="col-3">
              <div class="row mb-3">
                <label class="label-adm" for="nombreAdmin">Nombres</label>
                <input
                  autocomplete="off"
                  class="input-adm"
                  type="text"
                  id="nombreAdmin"
                  v-model="nombres"
                  placeholder="Nombres"
                />
                <p class="error" v-if="errores.nombres">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.nombres[0] }}
                </p>
              </div>
              <div class="row my-3">
                <label class="label-adm" for="apellidosAdmin">Apellidos</label>
                <input
                  autocomplete="off"
                  class="input-adm"
                  type="text"
                  id="apellidosAdmin"
                  v-model="apellidos"
                  placeholder="Apellidos"
                />
                <p class="error" v-if="errores.apellidos">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.apellidos[0] }}
                </p>
              </div>
              <div class="row my-3">
                <label class="label-adm" for="correoAdmin"
                  >Correo electronico</label
                >
                <input
                  autocomplete="off"
                  class="input-adm"
                  type="text"
                  id="correoAdmin"
                  v-model="correo"
                  placeholder="Correo electronico"
                />
                <p class="error" v-if="errores.correo">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.correo[0] }}
                </p>
              </div>
              <div class="row my-3">
                <label class="label-adm" for="passwordAdmin">Contraseña</label>
                <input
                  class="input-adm"
                  type="password"
                  id="passwordAdmin"
                  v-model="password"
                  placeholder="Contraseña"
                />
                <p class="error" v-if="errores.password">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.password[0] }}
                </p>
                <p v-if="!validado" class="error">
                  <i class="bi bi-exclamation-triangle-fill"></i>Las contraseñas
                  deben coincidir
                </p>
              </div>
            </div>
            <div class="col-3 ms-4">
              <div class="row">
                <label class="label-adm" for="acercaAdmin">Descripcion <span>({{ countLetras }}/500)</span></label>
                <textarea
                  id="acercaAdmin"
                  v-model="acercaAdmin"
                  maxlength="300"
                  placeholder="Acerca"
                  class="input-adm"
                ></textarea>
                <p class="error" v-if="errores.acercaAdmin">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.acercaAdmin[0] }}
                </p>
              </div>
              <div class="row mt-2">
                <label class="label-adm" for="telefonoAdmin"
                  >Telefono celular</label
                >
                <input
                  class="input-adm"
                  type="text"
                  id="telefonoAdmin"
                  v-model="telefono"
                  placeholder="Telefono celular"
                />
                <p class="error" v-if="errores.telefono">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.telefono[0] }}
                </p>
              </div>
              <div class="row mt-3">
                <label class="label-adm" for="password2Admin"
                  >Repetir contraseña</label
                >
                <input
                  class="input-adm"
                  type="password"
                  id="contraseña2Admin"
                  v-model="password2"
                  placeholder="Repetir contraseña"
                />
                <p class="error" v-if="errores.password_confirmation">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.password_confirmation[0] }}
                </p>
                <p v-if="!validado" class="error">
                  <i class="bi bi-exclamation-triangle-fill"></i>Las contraseñas
                  deben coincidir
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </component>
  </div>
</template>

<script>
import auth from "@/services/auth/auth";
export default {
  name: "crearAdmin",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      cabecera: "cabecera",
      navbar: "navbarLayout",
      imagen: "",
      nombres: "",
      apellidos: "",
      correo: "",
      password: "",
      password2: "",
      acercaAdmin: "",
      telefono: "",
      validado: true,
      errores: JSON,
    };
  },
  watch: {
    password(value) {
      this.password = value;
      this.validarPassword(value);
    },
    password2(value) {
      this.password2 = value;
      this.validarPassword(value);
    },
  },
  computed:{
    countLetras(){
      return  this.acercaAdmin.length
    },
  },
  methods: {
    async register() {
      try {
        if (this.validado) {
          const form = {
            imagen:
              this.$refs.imagen_admin.instanciaCrop.dataBase64.output.image,
            nombres: this.nombres,
            apellidos: this.apellidos,
            correo: this.correo,
            password: this.password,
            password_confirmation: this.password2,
            acercaAdmin: this.acercaAdmin,
            telefono: this.telefono,
          };
          const { data } = await auth.register(form);
          if (data.successfull == true) {
            this.$router.push("/administradores");
          } else if (data.successfull == false) {
            this.errores = data.mensajes;
            console.log(this.errores);
          }
        }
      } catch (error) {
        this.error = error;
        console.log(this.error);
      }
    },

    validarPassword() {
      if (this.password === this.password2) {
        this.validado = true;
      } else {
        this.validado = false;
      }
    },
  },
};
</script>

<style>
.label-adm {
  text-align: left;
  font: normal normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
.input-adm {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  outline: none;
  width: 340px;
  height: 40px;
  opacity: 1;
}
::placeholder {
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
}
.agregar-imagen {
  background: #dfe4e8 0% 0% no-repeat padding-box;
  border: 1px solid #edf1f5;
  border-radius: 100%;
  opacity: 1;
  width: 120px;
  height: 120px;
}
.error {
  font-size: 12px;
  margin: 0px;
  color: red;
}
#acercaAdmin {
  width: 340px;
  height: 119px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
}
</style>