<template>
  <div id="crearAdmin" class="row h-100">
    <component :is="navbar">
      <div class="col contenido ms-5 h-100">
        <cabecera
          ruta="administradores"
          rutaSec="Editar administrador"
          decoration="hidden"
          titulo="Editar administrador"
          ocultar="hidden"
        >
          <div class="container">
            <button @click="editarAdmin" type="submit" class="btn btn-crear">
              Guardar
            </button>
          </div>
        </cabecera>
        <div class="row h-100 mt-5">
          <div class="col-2">
            <div class="d-flex justify-content-center align-items-end">
              <img
                :src="admin.imagen"
                alt="img-admin"
                class="img-admin-edit"
              />
              <div class="position-absolute">
                <button
                  class="btn btn-editar-img mb-2"
                  data-bs-toggle="modal"
                  data-bs-target="#modalEditImg"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-editar-img mb-2" @click="eliminarImagen">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
            <!-- Modal editar imagen -->
            <div
              class="modal fade"
              id="modalEditImg"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="false"
            >
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="col-6">
                      <h5 class="tituloForm m-0">Editar imagen</h5>
                    </div>
                    <div class="col-2">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid form-jugadores">
                      <div class="row ">
                        <div class="d-flex justify-content-center">
                          <slim-cropper
                            class="imagen-jugador"
                            ref="imagen_admin"
                            :options="slimOptions"
                          >
                            <input type="file" name="slim" id="slim" />
                          </slim-cropper>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-cerrar"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button
                      type="sumbit"
                      class="btn btn-guardar"
                      data-bs-dismiss="modal"
                      @click="editarImagen"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin modal  -->
            <!-- <div class="agregar-imagen">
              <slim-cropper
                class="agregar-imagen"
                ref="imagen_admin"
                :options="slimOptions"
              >
                <input type="file" name="slim" />
              </slim-cropper>
              <p class="error" v-if="errores.imagen">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.imagen[0] }}
              </p>
            </div> -->
          </div>
          <div class="col-3">
            <div class="row mb-3">
              <label class="label-adm" for="nombreAdmin">Nombres</label>
              <input
                class="input-adm"
                type="text"
                id="nombreAdmin"
                v-model="admin.nombres"
                placeholder="nombre"
              />
              <p class="error" v-if="errores.nombres">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.nombres[0] }}
              </p>
            </div>
            <div class="row my-3">
              <label class="label-adm" for="apellidosAdmin">Apellidos</label>
              <input
                class="input-adm"
                type="text"
                id="apellidosAdmin"
                v-model="admin.apellidos"
                placeholder="apellidos"
              />
              <p class="error" v-if="errores.apellidos">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.apellidos[0] }}
              </p>
            </div>
            <div class="row my-3">
              <label class="label-adm" for="correoAdmin"
                >Correo electronico</label
              >
              <input
                class="input-adm"
                type="email"
                id="correoAdmin"
                v-model="admin.correo"
                placeholder="correo"
              />
              <p class="error" v-if="errores.correo">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.correo[0] }}
              </p>
            </div>
            <div class="row my-3">
              <label class="label-adm" for="passwordAdmin">Contraseña</label>
              <input
                class="input-adm"
                type="password"
                id="passwordAdmin"
                v-model="password"
                placeholder="Contraseña"
              />
              <p class="error" v-if="errores.password">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.password[0] }}
              </p>
              <p v-if="!validado" class="error">
                <i class="bi bi-exclamation-triangle-fill"></i>Las contraseñas
                deben coincidir
              </p>
            </div>
          </div>
          <div class="col-3 ms-4">
            <div class="row">
              <label class="label-adm" for="acercaAdmin"
                >Descripcion <span>({{ countLetras }}/500)</span></label
              >
              <textarea
                id="acercaAdmin"
                class="input-adm"
                v-model="admin.acercaAdmin"
                placeholder="Acerca"
                maxlength="300"
              ></textarea>
              <p class="error" v-if="errores.acercaAdmin">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.acercaAdmin[0] }}
              </p>
            </div>
            <div class="row mt-2">
              <label class="label-adm" for="telefonoAdmin"
                >Telefono celular</label
              >
              <input
                class="input-adm"
                type="text"
                id="telefonoAdmin"
                v-model="admin.telefono"
                placeholder="telefono"
              />
              <p class="error" v-if="errores.telefono">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.telefono[0] }}
              </p>
            </div>
            <div class="row mt-3">
              <label class="label-adm" for="password2Admin"
                >Repetir contraseña</label
              >
              <input
                class="input-adm"
                type="password"
                id="password2Admin"
                v-model="password2"
                placeholder="Repetir contraseña"
              />
              <p class="error" v-if="errores.password_confirmation">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.password_confirmation[0] }}
              </p>
              <p v-if="!validado" class="error">
                <i class="bi bi-exclamation-triangle-fill"></i>Las contraseñas
                deben coincidir
              </p>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axios from "@/services/auth/auth.js";
export default {
  name: "editarAdmin",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      slimOptions: {
        label: "Subir imagen",
      },
      cabecera: "cabecera",
      navbar: "navbarLayout",
      errores: JSON,
      admin: [
        {
          id: null,
          nombres: "",
          apellidos: "",
          correo: "",
          acercaAdmin: "",
          telefono: "",
          imagen: "",
        },
      ],
      validado: true,
      password: "",
      password2: "",
    };
  },
  mounted() {
    this.show();
  },
  watch: {
    password(value) {
      this.password = value;
      this.validarPassword(value);
    },
    password2(value) {
      this.password2 = value;
      this.validarPassword(value);
    },
  },
  computed: {
    countLetras() {
      if (this.admin.acercaAdmin) {
        return this.admin.acercaAdmin.length;
      } else {
        return 0;
      }
    },
  },
  methods: {
    async show() {
      try {
        let id = this.$route.params.id;
        const { data } = await axios.listarUnAdmin(id);
        this.admin = data.user;
      } catch (error) {
        return error;
      }
    },
    async editarImagen() {
      try {
        const formEdit = {
          imagen: this.$refs.imagen_admin.instanciaCrop.dataBase64.output.image,
        };
        let id = this.$route.params.id;
        const { data } = await axios.editarImagen(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },

    async eliminarImagen() {
      try {
        const formEdit = {
          imagen: null,
        };
        let id = this.$route.params.id;
        const { data } = await axios.editarImagen(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
    async editarAdmin() {
      try {
        const form = {
          nombres: this.admin.nombres,
          apellidos: this.admin.apellidos,
          correo: this.admin.correo,
          password: this.password,
          acercaAdmin: this.admin.acercaAdmin,
          telefono: this.admin.telefono,
        };
        let id = this.$route.params.id;
        const { data } = await axios.editarAdmin(id, form);
        if (data.successfull == true) {
          this.$router.push(`/administradores/${id}`);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        console.log(error);
      }
    },
    validarPassword() {
      if (this.password === this.password2) {
        this.validado = true;
      } else {
        this.validado = false;
      }
    },
  },
};
</script>

<style >
.label-adm {
  text-align: left;
  font: normal normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
.btn-editar-img {
  color: #ffffff;
  width: 36px;
  height: 36px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 100%;
  opacity: 0.6;
}
.btn-editar-img:hover {
  color: #ffffff;
}
.input-adm {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  width: 340px;
  height: 40px;
  opacity: 1;
}
#acercaAdmin {
  width: 340px;
  height: 119px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
}
.img-admin-edit {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}
.agregar-imagen {
  background: #dfe4e8 0% 0% no-repeat padding-box;
  border: 1px solid #edf1f5;
  border-radius: 100%;
  opacity: 1;
  width: 120px;
  height: 120px;
}
</style>