<template>
  <div id="crear-equipos" class="row h-100">
    <component :is="layout" v-if="layout">
      <div class="col ms-5 contenido h-100">
        <cabecera titulo="Crear equipo" decoration="hidden" ruta="equipos" rutaSec="Crear equipo" ocultar="hidden">
          <div class="container boton">
            <button
              class="btn btn-crear"
              @click="crearEquipo"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Tooltip on right"
            >
              Guardar
            </button>
          </div>
        </cabecera>
        <div class="mt-1">
          <div class="row mt-5 ms-1 texto-info">Informacion general</div>
          <div class="row mt-3">
            <div class="col-2">
              <div class="agregar-imagen">
                <slim-cropper
                  class="input-imagen"
                  ref="imagen_equipo"
                  :options="slimOptions"
                >
                  <input type="file" name="slim" id="slim" />
                </slim-cropper>
                <p class="error" v-if="errores.imagen">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.imagen[0] }}
                </p>
              </div>
            </div>
            <div class="col-2 offset-1 container">
              <div class="row">
                <label class="label-crear" for="nombreEquipo"
                  >Nombre del equipo</label
                >
                <input
                  id="nombreEquipo"
                  class="inputs-crear"
                  type="text"
                  v-model="nombre"
                  placeholder="Nombre"
                />
                <p class="error" v-if="errores.nombre">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.nombre[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label class="label-crear" for="acercaEquipo"
                  >Acerca del equipo <span>({{ countLetras }}/500)</span></label
                >

                <textarea
                  id="acercaEquipo"
                  class="inputs-crear"
                  type="text"
                  maxlength="500"
                  v-model="descripcion"
                  placeholder="Acerca del team"
                />
                <p class="error" v-if="errores.descripcion">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.descripcion[0] }}
                </p>
              </div>
            </div>
            <div class="col-6 offset-1 container">
              <div class="row">
                <label for="pais" class="label-crear"> Pais </label>
                <select
                  id="pais"
                  class="inputs-crear"
                  v-model="pais"
                  @change="listarCiudades"
                >
                  <option selected value="">Seleccionar</option>
                  <option
                    v-for="(pais, key) in paises"
                    :key="key"
                    :value="pais.id"
                  >
                    {{ pais.nombre }}
                  </option>
                </select>
                <p class="error" v-if="!pais">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  Debes seleccionar un pais
                </p>
              </div>
              <div class="row mt-4">
                <label for="ciudad" class="label-crear"> Ciudad </label>
                <select id="ciudad" class="inputs-crear" v-model="ciudad">
                  <option selected value="">Seleccionar</option>
                  <option
                    v-for="(ciudad, key) in ciudades"
                    :key="key"
                    :value="ciudad.id"
                  >
                    {{ ciudad.nombre }}
                  </option>
                </select>
                <p class="error" v-if="errores.ciudades_id">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.ciudades_id[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label for="deporte" class="label-crear"> Deporte afin </label>
                <select
                  id="deporte"
                  class="inputs-crear"
                  placeholder="Deporte afin"
                  v-model="deporte"
                >
                  <option selected value="">Seleccionar</option>
                  <option
                    v-for="(deporte, key) in deportes"
                    :key="key"
                    :value="deporte.id"
                  >
                    {{ deporte.nombre }}
                  </option>
                </select>
                <p class="error" v-if="errores.deporte_id">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.deporte_id[0] }}
                </p>
              </div>
            </div>
          </div>
          <div class="row ms-1 texto-info">Informacion del entrenador</div>
          <div class="row my-5">
            <div class="col-2">
              <div class="agregar-imagen">
                <slim-cropper
                  class="input-imagen"
                  ref="imagen_coach"
                  :options="slimOptions"
                >
                  <input type="file" name="slim" id="slim" />
                </slim-cropper>
                <p class="error" v-if="errores.imagen_coach">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.imagen_coach[0] }}
                </p>
              </div>
            </div>
            <div class="col-auto offset-1">
              <div class="row">
                <label for="nombreCoach" class="label-crear"> Nombres </label>
                <input
                  id="nombreCoach"
                  class="inputs-crear"
                  type="text"
                  v-model="nombres"
                  placeholder="Nombre"
                />
                <p class="error" v-if="errores.nombres_coach">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.nombres_coach[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label for="apellidosCoach" class="label-crear">
                  Apellidos
                </label>
                <input
                  id="apellidosCoach"
                  class="inputs-crear"
                  type="text"
                  v-model="apellidos"
                  placeholder="Apellidos"
                />
                <p class="error" v-if="errores.apellidos_coach">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.apellidos_coach[0] }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>



<script>
import axiosEquipo from "@/services/equipos/equipos.js";
import axiosDeporte from "@/services/deportes/deporteService";
//import axiosEntrenador from '@/services/entrenadores/entrenadores.js'
export default {
  name: "crearEquipos",
  layout: "default",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      layout: "navbarLayout",
      imagen: "",
      nombre: "",
      descripcion: "",
      pais: "",
      ciudad: "",
      deporte: "",
      nombres: "",
      apellidos: "",
      paises: JSON,
      ciudades: JSON,
      deportes: JSON,
      errores: JSON,
    };
  },
  mounted() {
    this.listarPaises();
    this.listarDeportes();
  },

  computed: {
    countLetras() {
      return this.descripcion.length;
    },
  },
  methods: {
    async crearEquipo() {
      try {
        const formEquipo = {
          nombre: this.nombre,
          descripcion: this.descripcion,
          ciudades_id: this.ciudad,
          imagen:
            this.$refs.imagen_equipo.instanciaCrop.dataBase64.output.image,
          deporte_id: this.deporte,
          nombres_coach: this.nombres,
          apellidos_coach: this.apellidos,
          imagen_coach:
            this.$refs.imagen_coach.instanciaCrop.dataBase64.output.image,
        };
        const { data } = await axiosEquipo.crearEquipo(formEquipo);
        if (data.successfull == true) {
          this.$router.push({ name: "equipos" });
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },

    listarPaises() {
      try {
        axiosEquipo.listarPaises().then((res) => {
          this.paises = res.data;
        });
      } catch (error) {
        return error;
      }
    },
    listarCiudades() {
      try {
        axiosEquipo.listarCiudades(this.pais).then((res) => {
          this.ciudades = res.data;
        });
      } catch (error) {
        return error;
      }
    },
    listarDeportes() {
      try {
        axiosDeporte.listarDeportes().then((res) => {
          this.deportes = res.data;
        });
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style >
.contenido {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  opacity: 1;
}
.input-imagen {
  width: 160px;
  height: 160px;
  text-align: center;
  background: #dfe4e8 0% 0% no-repeat padding-box;
  opacity: 1;
}
.inputs-crear {
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  outline: none;
  opacity: 1;
}
.error{
  text-align: left;
}
#nombreEquipo {
  width: 360px;
  height: 40px;
}
#acercaEquipo {
  width: 360px;
  height: 171px;
}
#pais {
  width: 275px;
  height: 40px;
}
#ciudad {
  width: 275px;
  height: 40px;
}
#deporte {
  width: 275px;
  height: 40px;
}
#nombreCoach {
  width: 360px;
  height: 40px;
}
#apellidosCoach {
  height: 40px;
  width: 360px;
}
.btn-guardar {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 40px;
  text-align: center;
}
.texto-info {
  margin-top: 100px;
  text-align: left;
  font: normal normal bold 28px/35px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.label-crear {
  text-align: left;
  font: normal normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
::placeholder {
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
}
</style>