<template>
  <div id="editarEquipos" class="row h-100">
    <component :is="layout" v-if="layout">
      <div class="col ms-5 contenido h-100">
        <cabecera
          titulo="Editar equipo"
          decoration="hidden"
          ruta="equipos"
          :rutaSec="equipo.nombre"
          ocultar="hidden"
        >
          <div class="container boton">
            <button @click="editarEquipo" type="submit" class="btn btn-crear">
              Guardar
            </button>
          </div>
        </cabecera>
        <div class="mt-1">
          <div class="row mt-5 ms-1 texto-info">Informacion general</div>
          <div class="row mt-3">
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-end">
                <img
                  :src="equipo.imagen"
                  alt="img-admin"
                  class="img-admin-edit"
                />
                <div class="position-absolute">
                  <button
                    class="btn btn-editar-img mb-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditImgEquipo"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    class="btn btn-editar-img mb-2"
                    @click="eliminarImagenEquipo"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
              <!-- Modal editar imagen -->
            <div
              class="modal fade"
              id="modalEditImgEquipo"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="false"
            >
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="col-6">
                      <h5 class="tituloForm m-0">Editar imagen</h5>
                    </div>
                    <div class="col-2">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid form-jugadores">
                      <div class="row ">
                        <div class="d-flex justify-content-center">
                          <slim-cropper
                            class="imagen-jugador"
                            ref="imagen_equipo"
                            :options="slimOptions"
                          >
                            <input type="file" name="slim" id="slim" />
                          </slim-cropper>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-cerrar"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button
                      type="sumbit"
                      class="btn btn-guardar"
                      data-bs-dismiss="modal"
                      @click="editarImagenEquipo"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin modal  -->
            </div>

            <div class="col-2 offset-1 container">
              <div class="row">
                <label class="label-crear" for="nombreEquipo"
                  >Nombre del equipo</label
                >
                <input
                  id="nombreEquipo"
                  class="inputs-crear"
                  type="text"
                  v-model="equipo.nombre"
                  placeholder="Nombre"
                />
                <p class="error" v-if="errores.nombre">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.nombre[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label class="label-crear" for="acercaEquipo"
                  >Acerca del equipo ({{ countLetras }}/500)</label
                >
                <textarea
                  id="acercaEquipo"
                  class="inputs-crear"
                  type="text"
                  v-model="equipo.descripcion"
                  placeholder="Acerca del team"
                />
                <p class="error" v-if="errores.descripcion">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.descripcion[0] }}
                </p>
              </div>
            </div>
            <div class="col-6 offset-1 container">
              <div class="row">
                <label for="pais" class="label-crear"> Pais </label>
                <select
                  id="pais"
                  class="inputs-crear"
                  v-model="equipo.idPais"
                  @change="listarCiudades"
                >
                  <option
                    v-for="(pais, key) in paises"
                    :key="key"
                    :value="pais.id"
                  >
                    {{ pais.nombre }}
                  </option>
                </select>
                <p class="error" v-if="!equipo.idPais">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  Debes seleccionar un pais
                </p>
              </div>
              <div class="row mt-4">
                <label for="ciudad" class="label-crear"> Ciudad </label>
                <select
                  id="ciudad"
                  class="inputs-crear"
                  v-model="equipo.idCiudad"
                >
                  <option
                    v-for="(ciudad, key) in ciudades"
                    :key="key"
                    :value="ciudad.id"
                  >
                    {{ ciudad.nombre }}
                  </option>
                </select>
                <p class="error" v-if="errores.ciudades_id">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.ciudades_id[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label for="deporte" class="label-crear"> Deporte afin </label>
                <select
                  id="deporte"
                  class="inputs-crear"
                  placeholder="Deporte afin"
                  v-model="equipo.idDeporte"
                >
                  <option selected value="">Seleccionar</option>
                  <option
                    v-for="(deporte, key) in deportes"
                    :key="key"
                    :value="deporte.id"
                  >
                    {{ deporte.nombre }}
                  </option>
                </select>
                <p class="error" v-if="errores.deporte_id">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.deporte_id[0] }}
                </p>
              </div>
            </div>
          </div>
          <div class="row ms-1 texto-info">Informacion del entrenador</div>
          <div class="row my-5">
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-end">
                <img
                  :src="equipo.imagenCoach"
                  alt="img-admin"
                  class="img-admin-edit"
                />
                <div class="position-absolute">
                  <button
                    class="btn btn-editar-img mb-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditImgCoach"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    class="btn btn-editar-img mb-2"
                    @click="eliminarImagenCoach"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
              <!-- Modal editar imagen -->
            <div
              class="modal fade"
              id="modalEditImgCoach"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="false"
            >
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="col-6">
                      <h5 class="tituloForm m-0">Editar imagen</h5>
                    </div>
                    <div class="col-2">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid form-jugadores">
                      <div class="row ">
                        <div class="d-flex justify-content-center">
                          <slim-cropper
                            class="imagen-jugador"
                            ref="imagen_coach"
                            :options="slimOptions"
                          >
                            <input type="file" name="slim" id="slim" />
                          </slim-cropper>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-cerrar"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button
                      type="sumbit"
                      class="btn btn-guardar"
                      data-bs-dismiss="modal"
                      @click="editarImagenCoach"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin modal  -->
              <!-- <slim-cropper
                class="agregar-imagen"
                ref="imagen_coach"
                :options="slimOptions"
              >
                <input type="file" name="slim" id="slim" />
              </slim-cropper>
              <p class="error" v-if="errores.imagen_coach">
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ errores.imagen_coach[0] }}
              </p> -->
            </div>
            <div class="col-auto offset-1">
              <div class="row">
                <label for="nombreCoach" class="label-crear"> Nombres </label>
                <input
                  id="nombreCoach"
                  class="inputs-crear"
                  type="text"
                  v-model="equipo.nombres"
                  placeholder="Nombre"
                />
                <p class="error" v-if="errores.nombres_coach">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.nombres_coach[0] }}
                </p>
              </div>
              <div class="row mt-4">
                <label for="apellidosCoach" class="label-crear">
                  Apellidos
                </label>
                <input
                  id="apellidosCoach"
                  class="inputs-crear"
                  type="text"
                  v-model="equipo.apellidos"
                  placeholder="Apellidos"
                />
                <p class="error" v-if="errores.apellidos_coach">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  {{ errores.apellidos_coach[0] }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>



<script>
import axiosEquipo from "@/services/equipos/equipos.js";
import axiosDeporte from "@/services/deportes/deporteService";
export default {
  name: "editarEquipo",
  layout: "default",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      layout: "navbarLayout",
      deportes: JSON,
      equipo: [
        {
          id: null,
          nombre: "",
          descripcion: "",
          imagen: "",
          nombres: "",
          apellidos: "",
          imagenCoach: "",
          idCiudad: null,
          idDeporte: null,
          idEntrenador: null,
          deporte: "",
          imgDeporte: "",
        },
      ],
      paises: JSON,
      ciudades: JSON,
      errores: JSON,
    };
  },
  mounted() {
    this.init();
  },
  computed: {
    countLetras() {
      if (this.equipo.descripcion) {
        return this.equipo.descripcion.length;
      } else {
        return 0;
      }
    },
  },
  methods: {
    async init() {
      await this.show();
      await this.listarPaises();
      await this.listarCiudades();
      await this.listarDeportes();
    },
    async show() {
      try {
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.listarUnEquipo(id);
        this.equipo = data.equipo;
        console.log(this.equipo);
      } catch (error) {
        return error;
      }
    },
    async editarImagenCoach() {
      try {
        const formEdit = {
          entrenadores_id: this.equipo.idEntrenador,
          imagen_coach: this.$refs.imagen_coach.instanciaCrop.dataBase64.output.image,
        };
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.editarImagenCoach(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
     async editarImagenEquipo() {
      try {
        const formEdit = {
          imagen: this.$refs.imagen_equipo.instanciaCrop.dataBase64.output.image,
        };
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.editarImagen(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
    async eliminarImagenCoach() {
      try {
        const formEdit = {
          entrenadores_id: this.equipo.idEntrenador,
          imagen_coach: null,
        };
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.editarImagenCoach(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
    async eliminarImagenEquipo() {
      try {
        const formEdit = {
          imagen: null,
        };
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.editarImagen(id, formEdit);
        if (data.successfull == true) {
          this.show();
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
    listarPaises() {
      try {
        axiosEquipo.listarPaises().then((res) => {
          this.paises = res.data;
        });
      } catch (error) {
        return error;
      }
    },
    listarCiudades() {
      try {
        axiosEquipo.listarCiudades(this.equipo.idPais).then((res) => {
          this.ciudades = res.data;
        });
      } catch (error) {
        return error;
      }
    },
    listarDeportes() {
      try {
        axiosDeporte.listarDeportes().then((res) => {
          this.deportes = res.data;
        });
      } catch (error) {
        return error;
      }
    },
    async editarEquipo() {
      try {
        const formEquipo = {
          nombre: this.equipo.nombre,
          descripcion: this.equipo.descripcion,
          ciudades_id: this.equipo.idCiudad,
          deporte_id: this.equipo.idDeporte,
          entrenadores_id: this.equipo.idEntrenador,
          imagen:
            this.$refs.imagen_equipo.instanciaCrop.dataBase64.output.image,
          nombres_coach: this.equipo.nombres,
          apellidos_coach: this.equipo.apellidos,
          imagen_coach:
            this.$refs.imagen_coach.instanciaCrop.dataBase64.output.image,
        };
        let id = this.$route.params.id;
        const { data } = await axiosEquipo.editarEquipo(id, formEquipo);
        if (data.successfull == true) {
          this.$router.push(`/equipos/${id}`);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style >
.contenido {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  opacity: 1;
}
.input-imagen {
  width: 160px;
  height: 160px;
  text-align: center;
  background: #dfe4e8 0% 0% no-repeat padding-box;
  opacity: 1;
}
.inputs-crear {
  text-align: left;
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
}

.inputs-crear::placeholder {
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
}
#nombreEquipo {
  width: 360px;
  height: 40px;
}
#acercaEquipo {
  width: 360px;
  height: 171px;
}
#pais {
  width: 275px;
  height: 40px;
}
#ciudad {
  width: 275px;
  height: 40px;
}
#deporte {
  width: 275px;
  height: 40px;
}
#nombreCoach {
  width: 360px;
  height: 40px;
}
#apellidosCoach {
  height: 40px;
  width: 360px;
}
.btn-guardar {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 40px;
  text-align: center;
}
.texto-info {
  margin-top: 100px;
  text-align: left;
  font: normal normal bold 28px/35px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.label-crear {
  text-align: left;
  font: normal normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
</style>