<template>
  <div class="row h-100" id="equiposInfo">
    <component :is="layout" v-if="layout">
      <div class="col contenido ms-5">
        <cabecera
          ruta="equipos"
          :titulo="equipo.nombre"
          decoration="hidden"
          ocultar="visible"
          :rutaSec="equipo.nombre"
          :idEquipo="this.$route.params.id"
        >
          <div class="boton titulo-jugadores">
            Jugadores del equipo
            <button
              type="button"
              class="btn btn-agregar"
              data-bs-toggle="modal"
              data-bs-target="#jugadoresModal"
            >
              +
            </button>
          </div>
        </cabecera>
        <!-- Modal agregar jugadores-->
        <div
          class="modal fade"
          id="jugadoresModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <form action="" @submit.prevent="agregarJugador">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="col-6">
                    <h5 class="tituloForm">Añadir jugador</h5>
                  </div>
                  <div class="col-2">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="container-fluid form-jugadores">
                    <div class="row">
                      <div class="col-4 offset-1">
                        <slim-cropper
                          class="imagen-jugador"
                          ref="imagen_jugador"
                          :options="slimOptions"
                        >
                          <input type="file" name="slim" id="slim" />
                        </slim-cropper>
                      </div>
                      <div class="col-7">
                        <div class="row">
                          <label class="labelCrear" for="nombreEquipo"
                            >Nombres</label
                          >
                          <input
                            id="nombreJug"
                            class="inpt-jugador"
                            type="text"
                            v-model="nombres"
                            placeholder="Nombres"
                          />
                          <p class="error" v-if="errorNom"><i class="bi bi-exclamation-triangle-fill"></i> El nombre no debe tener numeros</p>
                        </div>
                        <div class="row mt-4">
                          <label class="labelCrear" for="apellidos"
                            >Apellidos</label
                          >
                          <input
                            id="apellidosJug"
                            class="inpt-jugador"
                            type="text"
                            v-model="apellidos"
                            placeholder="Apellidos"
                          />
                          <p class="error" v-if="errorApe"><i class="bi bi-exclamation-triangle-fill"></i> El apellido no debe tener numeros</p>
                        </div>
                        <div class="row mt-4">
                          <label for="posicion" class="labelCrear">
                            Posicion
                          </label>
                          <select
                            id="posicion"
                            class="inpt-jugador"
                            v-model="posicion_id"
                          >
                            <option
                              v-for="(posicion, key) in posiciones"
                              :key="key"
                              :value="posicion.id"
                            >
                              {{ posicion.nombre | capitalize}}
                            </option>
                          </select>
                        </div>
                        <div class="row mt-4">
                          <label class="labelCrear" for="nivelDeportivo"
                            >Nivel deportivo</label
                          >
                          <stars 
                            v-model="nivelDeportivo" 
                            :selected="nivelDeportivo"
                          />
                          <!-- <p class="clasificacion">
                            <input
                              id="radio1"
                              type="radio"
                              v-model="nivelDeportivo"
                              value="5"
                            />
                            <label class="estrellas" for="radio1"
                              ><i class="bi bi-star-fill"></i
                            ></label>
                            <input
                              id="radio2"
                              type="radio"
                              v-model="nivelDeportivo"
                              value="4"
                            />
                            <label class="estrellas" for="radio2"
                              ><i class="bi bi-star-fill"></i
                            ></label>
                            <input
                              id="radio3"
                              type="radio"
                              v-model="nivelDeportivo"
                              value="3"
                            />
                            <label class="estrellas" for="radio3"
                              ><i class="bi bi-star-fill"></i
                            ></label>
                            <input
                              id="radio4"
                              type="radio"
                              v-model="nivelDeportivo"
                              value="2"
                            />
                            <label class="estrellas" for="radio4"
                              ><i class="bi bi-star-fill"></i
                            ></label>
                            <input
                              id="radio5"
                              type="radio"
                              v-model="nivelDeportivo"
                              value="1"
                            />
                            <label class="estrellas" for="radio5"
                              ><i class="bi bi-star-fill"></i
                            ></label>
                          </p>
                           -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-cerrar"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    :disabled="btnGuardarIsDisabled"
                    type="sumbit"
                    class="btn btn-guardar"
                    data-bs-dismiss="modal"
                  >
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Fin modal agregar jugadores -->
        <!-- Contenido de la vista -->
        <div class="mt-1 contenido-jugadores">
          <div class="row">
            <div class="col-5 info-equipo">
              <div class="ms-3 texto-equipo my-3 d-flex">
                <img
                  class="img-deporte me-3"
                  :src="equipo.imgDeporte"
                  alt="Card image cap"
                />
                <p class="m-0 d-flex align-items-center">
                  Equipo de {{ equipo.deporte }}
                </p>
                <div class="ms-5 d-flex align-items-center">
                  <i class="bi bi-star-fill me-2" style="color: orange"></i>
                  <span>{{ cantidadJugadores | digitos }}</span>
                </div>
              </div>
              <div class="ms-3 mt-4 texto-equipo">
                <img
                  class="img-fluid icon-bandera p-auto me-3"
                  src="../../assets/img/iconoEspectadores.svg"
                  alt="Card image cap"
                />
                {{ equipo.ciudad }}, {{ equipo.pais }}
              </div>
              <div class="row mt-3">
                <div class="col-5 me-5">
                  <img
                    class="img-fluid img-equipo p-auto me-3"
                    :src="equipo.imagen"
                    alt="Card image cap"
                  />
                </div>
                <div class="col-auto">
                  <div class="d-flex justify-content-center">
                    <img
                      class="img-fluid img-coach p-auto"
                      :src="equipo.imagenCoach"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="row justify-content-center coach">
                    {{ equipo.nombres }} {{ equipo.apellidos }}
                  </div>
                  <div class="row justify-content-center coach-sub">
                    Entrenador
                  </div>
                </div>
              </div>
              <div class="row justify-content-start acerca mt-3">
                <p class="mt-3">Acerca</p>
              </div>
              <div class="row texto-acerca">
                <p class="parrafo">
                  {{ equipo.descripcion }}
                </p>
              </div>
            </div>
            <div class="col-7 info-jugadores">
              <div class="row ms-5">
                <card-jugadores
                  v-for="(jugador, key) in jugadores"
                  :key="key"
                  :jugador="jugador"
                  :posiciones="posiciones"
                  v-on:resultado="confirmacion"
                ></card-jugadores>
              </div>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axiosJugadores from "@/services/jugadores/jugadores.js";
import axiosEquipo from "@/services/equipos/equipos.js";
import axiosPosi from "@/services/posiciones/posicionesService.js";
import Stars from './components/stars'
import { mapGetters } from 'vuex'
export default {
  name: "equiposInfo",
  layout: "default",

  components: {
    cabecera: () => import("../../components/Cabecera.vue"),
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    formJugadores: () => import("../../layouts/jugadorLayout.vue"),
    cardJugadores: () => import("./components/cardJugadores.vue"),
    Stars
  },

  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      layout: "navbarLayout",
      cardJugadores: "cardJugadores",
      nombres: "",
      apellidos: "",
      posicion_id: "",
      nivelDeportivo: 0,
      errorNom: false,
      errorApe: false,
      equipo: [
        {
          id: null,
          nombre: "",
          descripcion: "",
          imagen: "",
          nombres: "",
          apellidos: "",
          imagenCoach: "",
          idCiudad: null,
          ciudad: "",
          idPais: null,
          pais: "",
          deporte: "",
          imgDeporte: "",
        },
      ],
      entrenador: JSON,
      // jugadores: new Array,
      // cantidadJugadores: '',
      posiciones: JSON,
      errores: [],
    };
  },
  mounted() {
    this.show();
  },
  watch:{
    nombres(value){
      this.nombres = value
      if (/\d/.test(this.nombres)) {
        this.errorNom = true
      }else{
        this.errorNom = false
      }
    },
    apellidos(value){
      this.apellidos = value
      if (/\d/.test(this.apellidos)) {
        this.errorApe = true
      }else{
        this.errorApe = false
      }
    }
  },
  computed: {    
    btnGuardarIsDisabled() {
      let isDisabled = false;
      if (
        this.nombres == "" ||
        this.apellidos == "" ||
        this.posicion_id == null ||
        this.nivelDeportivo == "" ||
        this.$refs.imagen_jugador.instanciaCrop.dataBase64.output.image == null ||
        this.errorNom == true ||
        this.errorApe == true
      ) {
        isDisabled = true;
        return isDisabled;
      } else {
        isDisabled = false;
        return isDisabled;
      }
    },
    ...mapGetters({
      cantidadJugadores: 'cantidad',
      jugadores: 'jugadores'
    }),
  },
  filters: {
  capitalize: function (value) {
    if (!value) return ''
    value = value.toString()
    return value.charAt(0).toUpperCase() + value.slice(1)
  },
  digitos: function (value) {
      if(!value) return "";
      value = value.toFixed(2);
      return value;
    }
},
  methods: {
    async agregarJugador() {
      try {
        const formJugador = {
          nombres: this.nombres,
          apellidos: this.apellidos,
          imagen:
            this.$refs.imagen_jugador.instanciaCrop.dataBase64.output.image,
          nivelDeportivo: this.nivelDeportivo,
          posicion_id: this.posicion_id,
          equipo_id: this.equipo.id,
        };
        const { data } = await axiosJugadores.registrarJugador(formJugador);
        if (data.successfull == true) {
          await this.$store.dispatch('obtener_jugadores', data.jugador.equipo_id);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
        }
      } catch (error) {
        return error;
      }
    },
    async confirmacion(check) {
      if (check) {
        this.show();
        console.log('entro a equipos info');
      }
    },

    async show() {
      try {
        let id = this.$route.params.id;
        const dataEquipo = await axiosEquipo.listarUnEquipo(id);
        this.equipo = dataEquipo.data.equipo;
        await this.$store.dispatch('obtener_jugadores', id);
        const dataPosiciones = await axiosPosi.listarPosiciones(
          this.equipo.idDeporte
        );
        this.posiciones = dataPosiciones.data;
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
.texto-contenido {
  font: normal normal bold 18px/23px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.titulo-jugadores {
  text-align: left;
  font: normal normal bold 30px/38px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.inpt-jugador {
  border: 1px solid var(--gris-claro-borde);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  outline: none;
  width: 360px;
  height: 40px;
  opacity: 1;
}
.contenido {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  opacity: 1;
}
.texto-equipo {
  font: normal normal medium 20px/24px Gilroy ☞;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
.coach {
  font: normal normal bold 15px/20px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.coach-sub {
  font: normal normal medium 15px/18px Gilroy ☞;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
.acerca {
  font: normal normal bold 30px/38px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.texto-acerca {
  font: normal normal medium 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.parrafo {
  width: 490px;
}
.info-equipo {
  text-align: left;
  opacity: 1;
}
.icon-bandera {
  height: 0.8cm;
  width: 1cm;
}
.icono-cards {
  background-color: rgb(175, 172, 172);
  border-radius: 50%;
}
.img-equipo {
  width: 170px;
  height: 170px;
}
.img-coach {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  opacity: 1;
  background: transparent 0% 0% no-repeat padding-box;
}
.img-deporte {
  width: 38px;
  height: 38px;
  background: #637381 0% 0% no-repeat padding-box;
  border-radius: 100%;
  opacity: 1;
}
.btn-agregar {
  border-radius: 100%;
  border-style: none;
  width: 40px;
  height: 40px;
  background: #ffd4df;
  color: #000000;
}
.btn-agregar:hover {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  color: white;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
.estrellas {
  color: grey;
  margin-right: 5px;
}
.estrellas:hover,
.estrellas:hover ~ label {
  color: orange;
}
.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}
.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

.imagen-jugador {
  width: 160px;
  border-radius: 0%;
  height: 160px;
}
.btn-cerrar {
  width: 90px;
  height: 40px;
  background: #ffd4df 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.btn-guardar {
  width: 90px;
  height: 40px;
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  font: normal normal medium 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
::placeholder {
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
}
</style>