<template>
  <div id="equipos" class="row h-100">
    <component :is="layout" v-if="layout">
      <div class="col contenido ms-5">
        <cabecera titulo="Equipos CX" ruta="equipos" decoration="hidden" ocultar="hidden">
          <div class="d-flex">
            <div class="d-flex contenedor-buscar me-3">
              <img
                src="../../assets/img/iconoBuscar.svg"
                class="filtro-gris p-2"
              />
              <input
                class="input-equipos"
                v-model="buscar"
                type="text"
                placeholder="Buscar"
              />
              <button v-if="buscar" class="btn" @click="borrarInput"><i class="bi bi-x-lg"></i></button>
            </div>
            <router-link to="/crear-equipos" class="btn btn-crear">
              Crear equipo
            </router-link>
          </div>
        </cabecera>
        <!-- Cards equipos -->
        <div class="row" v-if="items == '' ">
          <div id="equipos-vacio" class="">
            <img src="../../assets/img/iconoEquipos.svg" alt="" class="me-5" />
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <h6 class="me-5 text-busqueda">No hay equipos </h6>
          </div>
        </div>
        <!-- <div class="row" v-if="!equipos.length">
          <div id="equipos-vacio" class="">
            <img src="../../assets/img/iconoEquipos.svg" alt="" class="me-5" />
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <h6 class="me-5 text-busqueda">No hay equipos creados</h6>
          </div>
        </div> -->
        <div id="equiposCards" class="row" v-if="equipos.length">
          <card-equipos
            v-for="(equipo, key) in items"
            :key="key"
            :nombreEquipo="equipo.nombre"
            :urlImagen="equipo.imagen"
            :imagenDeporte="equipo.imagenDeporte"
            :numJugadores="equipo.numJugadores"
            :id="equipo.id"
          />
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axios from "@/services/equipos/equipos.js";
export default {
  name: "equipos",
  layout: "default",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
    cardEquipos: () => import("./components/cardEquipos.vue"),
  },
  data() {
    return {
      layout: "navbarLayout",
      cabeceraComponent: "cabecera",
      equipos: [],
      buscar: "",
      buscador: String
    };
  },
  mounted() {
    this.listarEquipos();
  },
  computed: {
    items() {
      if(this.buscar.length != ""){
        return this.equipos.filter(
          (o) => o.nombre.toLowerCase().indexOf(this.buscar) > -1
        );
        
      }else{
        return this.equipos;
      }
    },
  },
  methods: {
    async listarEquipos() {
      try {
        const { data } = await axios.listarEquipos();
        this.equipos = data.equipos;
      } catch (error) {
        return error;
      }
    },
    borrarInput(){
      this.buscar = "";
    }
  },
};
</script>

<style >
#logoMenu {
  height: 2cm;
  width: 3cm;
}
#equipos-vacio {
  margin-top: 180px;
}
.input-equipos {
  text-align: left;
  padding: 5px;
  margin-right: 10px;
  background: #f6f9fb 0% 0% no-repeat padding-box;
  border: 0px solid #dfe4e8;
  border-radius: 20px;
  outline: none;
  width: 100%;
}
.text-busqueda {
  font: normal normal 300 20px/24px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.contenedor-buscar {
  border: 1px solid #dfe4e8;
  border-radius: 20px;
  width: 200px;
}
.filtro-gris {
  filter: invert(45%) sepia(8%) saturate(958%) hue-rotate(166deg)
    brightness(93%) contrast(81%);
}
.btn-crear {
  font: normal normal medium 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 180px;
  height: 40px;
  transition: 0.3s;
}
.btn-crear:hover {
  color: white;
  box-shadow: 0 4px 10px #ff1e5b;
  border: 1px solid #ff1e5b;
}
</style>