<template>
  <div>
    <h1>prueba</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati ipsam
      possimus modi laborum error rerum, beatae repudiandae aspernatur ratione
      delectus nulla tempore illo quam repellat quos impedit fugit alias?
      Deserunt.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>