<template>
  <div>
    <div class="mt-3">
      <div class="row mb-3">
        <div class="col-1">
          <img :src="deporte.icono" alt="" class="icono-deporte" />
        </div>
        <div class="col-3 titulo-deporte d-flex align-items-center">
          {{ deporte.nombre | capitalize}}
        </div>
        <div class="col-auto d-flex align-items-center">
          <modal
            class="me-2"
            v-bind:deporte="deporte"
            v-on:resultado="confirmacion"
          ></modal>
          <modalElim
            class="me-2"
            v-bind:deporte="deporte"
            v-on:resultado="confirmacion"
          ></modalElim>
          <p class="equipos-count btn btn-disable my-0 me-5">
            {{ deporte.equipos_count }}
          </p>
          <button
            class="btn btn-collapse d-flex justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            v-bind:data-bs-target="'#' + deporte.nombre + llave"
            aria-expanded="false"
            v-bind:aria-controls="deporte.nombre + llave"
          >
            <img src="@/assets/img/iconoCollapse.svg" class="icon-validator" />
          </button>
        </div>
      </div>
      <!-- COLLAPSE POSICIONES -->
      <div class="my-5 collapse" v-bind:id="`${deporte.nombre + llave}`">
        <div class="col-6">
          <div class="ms-5 row d-flex align-items-center">
            <label class="lbl-deporte" for="agregarPosicion"
              >Posicion del jugador
            </label>
            <input
              id="agregarPosicion"
              class="inpt-deporte"
              type="text"
              v-model="nombrePosicion"
              placeholder="Posicion"
            />

            <button
              @click="agregarPosicion(deporte.id)"
              class="btn btn-crear ms-3"
            >
              Añadir posicion
            </button>
            <p class="error" v-if="errores.nombre">
              <i class="bi bi-exclamation-triangle-fill"></i>
              {{ errores.nombre[0] }}
            </p>
          </div>
          <posiciones :deporte="deporte" v-on:resultado="confirmacion" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axiosPosi from "@/services/posiciones/posicionesService";

export default {
  name: "deporteComponent",
  props: {
    deporte: {
      type: Object,
      default: null,
    },
    llave: null,
  },
  components: {
    modal: () => import("./modalEditar.vue"),
    modalElim: () => import("./modalEliminar.vue"),
    posiciones: () => import("./posiciones.vue"),
  },
  data() {
    return {
      nombrePosicion: "",
      errores: [],
    };
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  methods: {
    async confirmacion(check) {
      if (check) {
        this.$emit("resultado", true);
      }
    },
    async agregarPosicion(idDeporte) {
      try {
        const form = {
          nombre: this.nombrePosicion,
          deporte_id: idDeporte,
          updated_by: 1,
        };
        const { data } = await axiosPosi.crearPosicion(form);
        if (data.successfull == true) {
          this.$emit("resultado", true);
          this.nombrePosicion = "";
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style scoped>
.equipos-count {
  background: #dfe4e8 0% 0% no-repeat padding-box;
  border-radius: 100%;
}
.btn-collapse {
  width: 24px;
  height: 24px;
  background: #edf1f5 0% 0% no-repeat padding-box;
  border: 1px solid #637381;
  opacity: 1;
  border-radius: 100%;
}
</style>