<template>
  <div>
    <button
      class="btn btn-deporte-elim me-2"
      data-bs-toggle="modal"
      :data-bs-target="`#modal-${objEdit.id}`"
    >
      <i class="bi bi-pencil" aria-hidden="true"></i>
    </button>
    <div
      class="modal fade"
      :id="`modal-${objEdit.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <form action="" @submit.prevent="">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Editar deporte</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="col container-fluid form-deporte">
                <div class="row">
                  <label for="nombreDeporte" class="lbl-deporte"
                    >Nombre del deporte</label
                  >
                  <input
                    type="text"
                    id="nombreDeporte"
                    v-model="objEdit.nombre"
                    placeholder="Deporte"
                    class="inpt-deporte"
                  />
                </div>
                <div class="row">
                  <div>
                    <slim-cropper
                      class="agregar-imagen mt-3"
                      ref="imagen_deporte"
                      :options="slimOptions"
                    >
                      <input type="file" accept=".svg" name="slim" id="slim" />
                    </slim-cropper>
                  </div>
                </div>
                <div class="row">
                  <p>Solo archivos SVG con un tamaño menor a 500kb</p>
                </div>
              </div>
            </div>
            <div class="modal-footer linea-footer">
              <button
                type="button"
                class="btn btn-cerrar"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                @click="editarDeporte"
                data-bs-dismiss="modal"
                class="btn btn-guardar"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Fin modal editar deportes -->
  </div>
</template>

<script>
import axios from "@/services/deportes/deporteService";
export default {
  name: "modalCrear",
  props: {
    deporte: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      layout: "navbarLayout",
      cabecera: "cabecera",
      objEdit: null,
      error: false,
    };
  },
  /* computed: {
    btnGuardarIsDisabled() {
      let isDisabled = true;
      if (
        this.nombre == "" ||
        this.$refs.imagen_deporte.instanciaCrop.dataBase64.output.image == null
      ) {
        isDisabled = true;
      } else {
        isDisabled = false;
      }

      return isDisabled;
    },
  }, */
  created() {
    this.objEdit = {
      id: this.deporte.id,
      nombre: this.deporte.nombre,
      icono: this.deporte.icono,
    };
  },
  methods: {
    async editarDeporte() {
      try {
        const form = {
          nombre: this.objEdit.nombre,
          icono:
            this.$refs.imagen_deporte.instanciaCrop.dataBase64.output.image,
        };
        let id = this.objEdit.id;
        const { data } = await axios.editarDeporte(id, form);
        if (data.successfull == true) {
          this.$emit("resultado", true);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
        }
      } catch (error) {
        this.error = true;
      }
    },
  },
};
</script>

<style>
</style>