<template>
  <div>
    <button
      class="btn btn-deporte-elim me-2"
      data-bs-toggle="modal"
      :data-bs-target="`#modal-eliminar-${deporte.id}`"
    >
      <i class="bi bi-trash" aria-hidden="true"></i>
    </button>
    <div
      class="modal fade"
      :id="`modal-eliminar-${deporte.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div v-if="deporte.equipos_count == 0 && deporte.posiciones_count == 0" class="modal-content">
          <div class="modal-header">
            <div class="col-6 mt-4 ms-4">
              <h5 class="titulo-modal">Eliminar Deporte</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div
                class="row align-items-center justify-content-center text-modal"
              >
                ¿Desea eliminar este deporte?
              </div>
            </div>
          </div>
          <div class="modal-footer linea-footer">
            <button
              type="button"
              class="btn btn-cerrar"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              @click="borrarDeporte"
              type="button"
              class="btn btn-guardar"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Eliminar
            </button>
          </div>
        </div>
        <div v-if="deporte.equipos_count > 0 || deporte.posiciones_count > 0" class="modal-content">
          <div class="modal-header">
            <div class="col-6 mt-4 ms-4">
              <h5 class="titulo-modal">Eliminar Deporte</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div
                class="row align-items-center justify-content-center text-modal"
              >
                No puedes eliminar este deporte por que ha sido usado
                anteriormente o tiene posiciones creadas
              </div>
            </div>
          </div>
          <div class="modal-footer linea-footer">
            
            <button
              type="button"
              class="btn btn-guardar"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/deportes/deporteService";
export default {
  name: "modal-eliminar",
  props: {
    deporte: [],
  },
  data() {
    return {
      errores: [],
    };
  },
  methods: {
    async borrarDeporte() {
      try {
        let id = this.deporte.id;
        console.log(this.deporte);
        if (this.deporte.equipos_count > 0 || this.deporte.posiciones_count) {
          alert(
            "No puedes eliminar este deporte por que ha sido usado anteriormente o tiene posiciones creadas"
          );
        } else {
          const { data } = await axios.eliminarDeporte(id);
          if (data.successfull == true) {
            this.$emit("resultado", true);
          } else if (data.successfull == false) {
            this.errores = data.mensajes;
          }
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
.linea-footer {
  border-top-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, white, pink, white) 1;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.btn-jugadores:hover{
  background: #FF1E5B 0% 0% no-repeat padding-box;
}
.btn-deporte-elim{
  background: #FFD4DF 0% 0% no-repeat padding-box;
  border-radius: 50%;
opacity: 1;
}
.btn-deporte-elim:hover{
  background: #FF1E5B 0% 0% no-repeat padding-box;
  color: white;
}
</style>