<template>
  <div>
    <div
      class="row mt-3 align-items-center"
      v-for="(posicion, key2) in deporte.posiciones"
      :key="key2"
    >
      <div class="col-1 d-flex align-items-center">
        <img src="@/assets/img/iconoposiciones.svg" alt="" class="dragable" />
      </div>
      <div class="col-6">
        <input
          :class="{
            'inpt-posi': posicion.disabled == false,
            'inpt-posi-disable': posicion.disabled == true,
          }"
          type="text"
          v-model="posicion.nombre"
          :disabled="posicion.disabled"
        />
      </div>
      <div class="col-5 d-flex">
        <button
          class="btn btn-editar-posicion d-flex justify-content-center"
          v-if="posicion.disabled == false"
          @click="editarPosicion(posicion, posicion.id, key2)"
        >
          <img src="@/assets/img/iconoValidar.svg" class="icon-validator" />
        </button>
        <button
          class="btn btn-deporte-elim me-2"
          v-if="posicion.disabled == true"
          @click="habilitarInput(posicion)"
        >
          <i class="bi bi-pencil" aria-hidden="true"></i>
        </button>
        <button
          data-bs-toggle="modal"
          :data-bs-target="`#modal-eliminar-posicion-${posicion.id}`"
          class="btn btn-deporte-elim me-2"
          v-if="posicion.disabled == true"
        >
          <i class="bi bi-trash" aria-hidden="true"></i>
        </button>
        <!-- Modal eliminar Posicion -->
        <div
          class="modal fade"
          :id="`modal-eliminar-posicion-${posicion.id}`"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div
              v-if="posicion.cantidadJugadores == 0"
              class="modal-content"
            >
              <div class="modal-header">
                <div class="col-6 mt-4 ms-4">
                  <h5 class="titulo-modal">Eliminar posicion</h5>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div
                    class="
                      row
                      align-items-center
                      justify-content-center
                      text-modal
                    "
                  >
                    ¿Desea eliminar esta posicion?
                  </div>
                </div>
              </div>
              <div class="modal-footer linea-footer">
                <button
                  type="button"
                  class="btn btn-cerrar"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  @click="eliminarPosicion(posicion)"
                  type="button"
                  class="btn btn-guardar"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Eliminar
                </button>
              </div>
            </div>
            <div
              v-if="posicion.cantidadJugadores > 0"
              class="modal-content"
            >
              <div class="modal-header">
                <div class="col-6 mt-4 ms-4">
                  <h5 class="titulo-modal">Eliminar posicion</h5>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div
                    class="
                      row
                      align-items-center
                      justify-content-center
                      text-modal
                    "
                  >
                    No puedes eliminar esta posicion por que ha sido usada
                    anteriormente 
                  </div>
                </div>
              </div>
              <div class="modal-footer linea-footer">
                <button
                  type="button"
                  class="btn btn-guardar"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN MODAL -->
        <p
          class="equipos-count btn btn-disable my-0 me-5"
          v-if="posicion.disabled == true"
        >
          {{ posicion.cantidadJugadores }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axiosPosi from "@/services/posiciones/posicionesService";

export default {
  name: "posicionesComponent",
  data() {
    return {};
  },
  props: {
    deporte: {
      type: Object,
      default: null,
    },
    llave: null,
  },

  methods: {
    habilitarInput(posicion) {
      try {
        posicion.disabled = false;
      } catch (error) {
        console.log(error);
      }
    },
    async editarPosicion(posicion, id, indice) {
      try {
        const form = {
          nombre: this.deporte.posiciones[indice].nombre,
        };
        const { data } = await axiosPosi.editarPosicion(id, form);
        if (data.successfull == true) {
          posicion.disabled = true;
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
    async eliminarPosicion(posicion) {
      try {
        if (posicion.cantidadJugadores == 0) {
          const { data } = await axiosPosi.eliminarPosicion(posicion.id);
          if (data.successfull == true) {
            this.$emit("resultado", true);
          } else if (data.successfull == false) {
            this.errores = data.mensajes;
            console.log(this.errores);
          }
        } else {
          alert("ola");
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style scoped>
.equipos-count {
  background: #dfe4e8 0% 0% no-repeat padding-box;
  border-radius: 100%;
}
.inpt-posi {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  outline: none;
  border-radius: 8px;
  height: 40px;
  opacity: 1;
}
.inpt-posi-disable {
  background: #edf1f5 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  height: 40px;
  outline: none;
  border-radius: 8px;
  opacity: 1;
}
.btn-editar-posicion {
  background: #29d884 0% 0% no-repeat padding-box;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  opacity: 1;
}
.btn-collapse {
  width: 24px;
  height: 24px;
  background: #edf1f5 0% 0% no-repeat padding-box;
  border: 1px solid #637381;
  opacity: 1;
  border-radius: 100%;
}
</style>