<template>
  <router-link
    :to="{ name: 'equipos-info', params: { id: this.id } }"
    class="m-4 texto-cards card-equipo text-center"
    style="width: 18rem"
  >
    <div class="d-flex justify-content-center align-items-center card-equipo">
      <img
        class="card-img-top px-5 img-card"
        :src="urlImagen"
        alt="Card image cap"
      />
    </div>
    <div class="card-body">
      <div class="row">
        <label class="texto-contenido px-3 single-line">{{
          nombreEquipo |capitalize
        }}</label>
      </div>
      <div class="d-flex mt-3 justify-content-center ">
        <div>
          <img
            class="img-fluid icon-deporte p-auto me-3"
            alt="Vue logo"
            :src="imagenDeporte"
          />
        </div>
        <div class="d-flex align-items-center px-2 num-jugadores">
          <img
            class="img-fluid icon-menu p-auto me-3 p-1"
            alt="Vue logo"
            src="../../../assets/img/iconoEspectadores.svg"
          />
          {{ numJugadores }}
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "cardEquipos",
  props: {
    nombreEquipo: String,
    urlImagen: String,
    imagenDeporte: String,
    numJugadores: Number,
    id: Number,
  },
  filters: {
  capitalize: function (value) {
    if (!value) return ''
    value = value.toString()
    return value.charAt(0).toUpperCase() + value.slice(1)
  }
},
};
</script>

<style>
.card-equipo{
  text-decoration: none;
  color: #000000;
}
.card-equipo:hover{
  text-decoration: none;
  color: #000000;
}
.icon-menu {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  height: 0.8cm;
  width: 1cm;
}
.num-jugadores{
  background-color: black;
  border-radius: 19px;
  color: white;
}
.icon-deporte {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}
.icono-cards {
  background-color: rgb(175, 172, 172);
  border-radius: 50%;
}

.img-card {
  border-radius: 100%;
  height: 200px;
  width: 300px;
}
.single-line {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.texto-contenido {
  text-align: center;
  font: normal normal bold 25px/31px Gilroy ☞;
  letter-spacing: 0px;
  overflow: hidden;
  color: #000000;
  opacity: 1;
}
</style>