<template>
  <div
    class="
      mx-2
      my-1
      texto-cards
      jugadores-cards
      container
      justify-content-center
    "
  >
    <div
      class="
        d-flex
        justify-content-center
        align-items-center
        img-player
        item-fade
      "
    >
      <img
        class="card-img-top img-cards mt-3"
        :src="jugador.imagen"
        alt="Card image cap"
      />
      <div class="position-absolute botones d-flex">
        <modalEdit
          :jugador="jugador"
          :posiciones="posiciones"
          v-on:resultado="confirmacion"
        ></modalEdit>
        <modalElim :jugador="jugador" v-on:resultado="confirmacion"></modalElim>
      </div>
    </div>
    <div class="card-body">
      <div class="row coach justify-content-center">
        {{ jugador.nombres | capitalize }}
      </div>
      <div class="row coach-sub justify-content-center">
        {{ jugador.nomPosic | capitalize }}
      </div>
      <div class="row texto-cards justify-content-center">
        <stars 
        v-model="jugador.nivelDeportivo" 
        :selected="jugador.nivelDeportivo"
        readonly
        />
      </div>
    </div>
  </div>
</template>

<script>
import Stars from './stars'
export default {
  name: "cardJugadores",
  components: {
    modalElim: () => import("./modalEliminar.vue"),
    modalEdit: () => import("./modalEditar.vue"),
    Stars,
  },
  data() {
    return {
      modalElim: "modalEliminar",
      modalEdit: "modalEditar",
    };
  },
  props: {
    jugador: [],
    posiciones: [],
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  methods: {
    async confirmacion(check) {
      if (check) {
        console.log('entro a la card');
        this.$emit("resultado", true);
      }
    },
  },
};
</script>

<style>
.jugadores-cards {
  width: 185px;
  height: 233px;
  background: #f6f9fb 0% 0% no-repeat padding-box;
}
.texto-cards {
  text-decoration: none;
  color: #2c3e50;
}
.botones div .btn-players {
  display: none;
}
.btn-players {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffd4df 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-players:hover {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  color: white;
}

.img-player:hover .modalE .btn-players {
  display: block;
  opacity: 1;
}

.item-fade:hover img {
  background: #bcbdbe 0% 0% no-repeat padding-box;
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}
.img-cards {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid #edf1f5;
}
.coach {
  font: normal normal bold 15px/20px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.coach-sub {
  font: normal normal medium 15px/18px Gilroy ☞;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}

.estrellas-card {
  color: grey;
  margin-right: 5px;
}

.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}
</style>