<template>
  <!-- Modal eliminar -->
  <div class="modalE">
    <button
      class="btn btn-players mt-4 botonj"
      data-bs-toggle="modal"
      :data-bs-target="`#modal-eliminar-${jugador.id}`"
    >
      <i class="bi bi-trash"></i>
    </button>
    <div
      class="modal fade"
      :id="`modal-eliminar-${jugador.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-6 mt-4 ms-4">
              <h5 class="titulo-modal">Eliminar jugador</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div
                class="row align-items-center justify-content-center text-modal"
              >
                ¿Desea eliminar este jugador?
              </div>
            </div>
          </div>
          <div class="modal-footer linea-footer">
            <button
              type="button"
              class="btn btn-cerrar"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              @click="borrarJugador"
              type="button"
              class="btn btn-guardar"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal eliminar -->
</template>

<script>
import axios from "@/services/jugadores/jugadores.js";
export default {
  data() {
    return {};
  },
  props: {
    jugador: [],
  },
  methods: {
    async borrarJugador() {
      try {
        let id = this.jugador.id;
        const {data} = await axios.borrarJugador(id);
        if (data.successfull == true) {
          this.$emit("resultado", true);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
</style>