<template>
  <!-- Modal eliminar -->
  <div class="modalE">
    <button
      class="btn btn-players me-2 mt-4"
      data-bs-toggle="modal"
      :data-bs-target="`#modal-editar-${objEdit.id}`"
    >
      <i class="bi bi-pencil"></i>
    </button>
    <div
      class="modal fade"
      :id="`modal-editar-${objEdit.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="false"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-6">
              <h5 class="tituloForm m-0">Editar jugador</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="container-fluid form-jugadores">
              <div class="row">
                <div class="col-4 offset-1">
                  <slim-cropper
                    class="imagen-jugador"
                    ref="imagen_jugador"
                    :options="slimOptions"
                  >
                    <input type="file" name="slim" id="slim" />
                  </slim-cropper>
                </div>
                <div class="col-7">
                  <div class="row">
                    <label class="labelCrear" for="nombreEquipo">Nombres</label>
                    <input
                      id="nombreJug"
                      class="inpt-jugador"
                      type="text"
                      v-model="objEdit.nombres"
                      placeholder="Nombres"
                    />
                  </div>
                  <div class="row mt-4">
                    <label class="labelCrear" for="apellidos">Apellidos</label>
                    <input
                      id="apellidosJug"
                      class="inpt-jugador"
                      type="text"
                      v-model="objEdit.apellidos"
                      placeholder="Apellidos"
                    />
                  </div>
                  <div class="row mt-4">
                    <label for="posicion" class="labelCrear"> Posicion </label>
                    <select
                      id="posicion"
                      class="inpt-jugador"
                      v-model="objEdit.posicion_id"
                    >
                      <option
                        v-for="(posicion, key) in posiciones"
                        :key="key"
                        :value="posicion.id"
                      >
                        {{ posicion.nombre | capitalize}}
                      </option>
                    </select>
                  </div>
                  <div class="row mt-4">
                    <label class="labelCrear" for="nivelDeportivo"
                      >Nivel deportivo</label
                    >
                    <stars 
                    v-model="objEdit.nivelDeportivo" 
                    :selected="objEdit.nivelDeportivo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-cerrar"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              :disabled="btnGuardarIsDisabled"
              type="sumbit"
              class="btn btn-guardar"
              data-bs-dismiss="modal"
              @click="editarJugador"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal eliminar -->
</template>

<script>
import axiosJugadores from "@/services/jugadores/jugadores.js";
import Stars from './stars'
export default {
  components: { Stars },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      objEdit: new Object,
      nivel: "",
      errorNom: false,
      errorApe: false,
      errores: [],
    };
  },
  props: {
    jugador: {
      type: Object,
      default: null,
    },
    posiciones: [],
  },
  created() {
    this.objEdit = {
      id: this.jugador.id,
      nombres: this.jugador.nombres,
      apellidos: this.jugador.apellidos,
      imagen: this.jugador.imagen,
      nomPosic: this.jugador.nomPosic,
      nivelDeportivo: this.jugador.nivelDeportivo,
      id_equipo: this.jugador.id_equipo,
      posicion_id: this.jugador.posicion_id,
    };
  },
  watch: {
    nombres(value) {
      this.objEdit.nombres = value;
      console.log(this.objEdit.nombres);
      if (/\d/.test(this.objEdit.nombres)) {
        this.errorNom = true;
      } else {
        this.errorNom = false;
      }
    },
    apellidos(value) {
      this.objEdit.apellidos = value;
      if (/\d/.test(this.objEdit.apellidos)) {
        this.errorApe = true;
      } else {
        this.errorApe = false;
      }
    },
    "objEdit.nivelDeportivo"(val){
      this.jugadores = this.jugadores.map(el => {
        if(el.id === this.jugador.id){
          el.nivelDeportivo = val
        }
        return el
      });
    }
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  computed: {
    //para revisar si tiene un numero
    /* /\d/.test($("#nombre").val().trim()) */

    btnGuardarIsDisabled() {
      let isDisabled = false;
      if (
        this.objEdit.nombres == "" ||
        this.objEdit.apellidos == "" ||
        this.objEdit.posicion_id == null ||
        this.objEdit.nivelDeportivo == "" ||
        this.errorNom == true ||
        this.errorApe == true
      ) {
        isDisabled = true;
        return isDisabled;
      } else {
        isDisabled = false;
        return isDisabled;
      }
    },
    jugadores:{
      set(val){
        this.$store.commit('set_jugadores',val)
      },
      get(){
        return this.$store.getters['jugadores']
      }
    }
  },
  methods: {
    async editarJugador() {
      try {
        const formJugador = {
          nombres: this.objEdit.nombres,
          apellidos: this.objEdit.apellidos,
          imagen:
            this.$refs.imagen_jugador.instanciaCrop.dataBase64.output.image,
          nivelDeportivo: this.objEdit.nivelDeportivo,
          posicion_id: this.objEdit.posicion_id,
        };
        let id = this.jugador.id;
        console.log(formJugador);
        const { data } = await axiosJugadores.editarJugador(id, formJugador);
        if (data.successfull == true) {
          this.$emit("resultado", true);
          console.log(data);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

