<template>
    <p class="clasificacion">
        <template
        v-for="(el,index) in [5,4,3,2,1]"
        >
            <input
            :id="`radio${index + 1}`"
            type="radio"
            v-model="value"
            :value="el"
            :key="`input-${index}`"
            />
            <label 
            :class="{'estrellas': true, 'readonly': readonly}"
            :for="`radio${index + 1}`" 
            @click="value = el"
            :key="`label-${index}`"
            >
                <i class="bi bi-star-fill"/>
            </label>
        </template>
    </p>
</template>

<script>
export default {
    props:{
        readonly: {
            type: Boolean,
            default: false
        },
        selected: {
            type: [Number, String],
            required: true
        }
    },
    watch:{
        value(val){
            this.$emit('input', val)
        },
        selected(oldValue, newValue) {
            if (oldValue != newValue)
                this.value = JSON.stringify(JSON.parse(this.selected)) ?? null
        }
    },
    mounted(){
        this.value = JSON.stringify(JSON.parse(this.selected)) ?? null
    },
    data(){
        return {
            value: null,
        }
    }
}
</script>

<style scoped>

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
.estrellas {
  color: grey;
  margin-right: 5px;
}
.estrellas:hover,
.estrellas:hover ~ label {
  color: orange;
}
.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}

.readonly{
    pointer-events: none;
}
</style>