<template>
  <div class="home">
      <img alt="Vue logo" src="../assets/img/logoLogin.svg">
      <login msg="Iniciar sesion"/>
  </div>
</template>

<script>
// @ is an alias to /src
import login from '@/components/login.vue'

export default {
  name: 'Home',
  components: {
    login
  }
}
</script>
