<template>
  <div class="row h-100" id="config">
    <component :is="layout" v-if="layout">
      <div class="col contenido ms-5">
        <cabecera
          ruta="configuraciones"
          decoration="hidden"
          titulo="Deportes y Posiciones"
          ocultar="hidden"
        >
          <button
            type="button"
            class="btn btn-crear"
            data-bs-toggle="modal"
            data-bs-target="#deportesModal"
          >
            Crear deporte
          </button>
        </cabecera>
        <!-- Modal crear deportes -->
        <div
          class="modal fade"
          id="deportesModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <form action="" @submit.prevent="crearDeporte">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="col-6 m-4">
                    <h5 class="tituloForm">Crear deporte</h5>
                  </div>
                  <div class="col-2">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="col container-fluid form-deporte">
                    <div class="row">
                      <label for="nombreDeporte" class="lbl-deporte"
                        >Nombre del deporte</label
                      >
                      <input
                        type="text"
                        id="nombreDeporte"
                        v-model="nombre"
                        placeholder="Deporte"
                        class="inpt-deporte"
                      />
                      <p class="error" v-if="!nombre">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        Este campo es obligatorio
                      </p>
                      <p class="error" v-if="error">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        El nombre no puede tener numeros
                      </p>
                    </div>
                    <div class="row">
                      <div class="">
                        <slim-cropper
                          class="agregar-imagen mt-3"
                          ref="imagen_deporte"
                          :options="slimOptions"
                        >
                          <input
                            type="file"
                            accept=".svg"
                            name="slim"
                            id="slim"
                          />
                        </slim-cropper>
                        <p class="error" v-if="!nombre">
                          <i class="bi bi-exclamation-triangle-fill"></i>
                          Este campo es obligatorio
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <p>Solo archivos SVG con un tamaño menor a 500kb</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer linea-footer">
                  <button
                    type="button"
                    class="btn btn-cerrar"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    :disabled="btnGuardarIsDisabled"
                    type="submit"
                    class="btn btn-guardar"
                    data-bs-dismiss="modal"
                  >
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Fin modal deportes -->
        <!-- Contenido de la vista -->
        <div class="contenido-config mt-4 h-100">
          <deporte
            v-for="(deporte, key) in deportes"
            :key="key"
            :deporte="deporte"
            :llave ="key"
            v-on:resultado="confirmacion"
          ></deporte>
        </div>
      </div>
    </component>
    <!-- Modales -->
    <!-- Fin modales -->
  </div>
</template>

<script>
import axios from "@/services/deportes/deporteService";
export default {
  name: "configuracion",
  layout: "default",
  components: {
    navbarLayout: () => import("../../layouts/navbarLayout.vue"),
    cabecera: () => import("../../components/Cabecera.vue"),
    deporte: () => import("./componentes/deporte.vue"),
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      layout: "navbarLayout",
      deporte: "deporte",
      modalEdit: "modalEdit",
      modalElim: "modalElim",
      cabecera: "cabecera",
      deportes: [],
      posiciones: [],
      nombre: "",
      nombrePosicion: "",
      imagen: null,
      errores: [],
      error: false,
    };
  },
  watch:{
    nombre(value){
      this.nombre = value
      if (/\d/.test(this.nombre)) {
        this.error = true
      }else{
        this.error = false
      }
    }
  },
  mounted() {
    this.listarDeportes();
  },
  computed: {
    btnGuardarIsDisabled() {
      let isDisabled = true;
      if (
        this.nombre == "" ||
        this.$refs.imagen_deporte.instanciaCrop.dataBase64.output.image == null ||
        this.error == true
      ) {
        isDisabled = true;
      } else {
        isDisabled = false;
      }

      return isDisabled;
    },
  },
  methods: {
    async crearDeporte() {
      try {
        const form = {
          nombre: this.nombre,
          icono:
            this.$refs.imagen_deporte.instanciaCrop.dataBase64.output.image,
        };
        const { data } = await axios.crearDeporte(form);
        if (data.successfull == true) {
          this.listarDeportes();
          this.nombre = "";
          this.$refs.imagen_deporte.instanciaCrop.dataBase64.output.image = "";
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
        }
      } catch (error) {
        this.error = true;
      }
    },

    async confirmacion(check) {
      if (check) {
        this.listarDeportes();
      }
    },

    async listarDeportes() {
      try {
        const { data } = await axios.listarDeportes();
        this.deportes = data;
        console.log(this.deportes);
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
.btn-deporte {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 150px;
  height: 40px;
  text-align: center;
  font: normal normal medium 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.form-deporte {
  text-align: left;
  margin: 10px;
}
.inpt-deporte {
  width: 326px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  outline: none;
  opacity: 1;
}
.dragable {
  width: 40px;
  height: 20px;
}
.lbl-deporte {
  text-align: left;
  font: normal normal normal 13px/15px Rubik;
  letter-spacing: 0px;
  color: #637381;
  opacity: 1;
}
.btn-modal {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
  font: normal normal medium 12px/15px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  width: 182px;
  height: 40px;
}
.titulo-deporte {
  text-align: left;
}
.icono-deporte {
  width: 58px;
  height: 58px;
}
</style>