<template>
  <div id="Cabecera">
    <div id="menu" class="row">
      <div class="row mt-5 p-0 ruta">
        <h5>
          <span class="text-path"
            ><router-link class="text-main-ruta" :to="{ name: this.ruta }">{{
              ruta | capitalize
            }}</router-link></span
          ><img
            src="@/assets/img/iconoCollapse.svg"
            style="transform: rotate(-90deg); width: 20x"
            class="mx-3"
          />
          <span class="text-ruta style-path">{{ rutaSec | capitalize }}</span>
        </h5>
      </div>
      <div class="row mt-5 mb-1">
        <div class="col-5 d-flex me-5">
          <h4 class="single-line titulo-contenido">
            {{ titulo | capitalize }}
          </h4>
          <div class="ps-3 d-flex" v-if="ocultar != 'hidden'">
            <router-link
              :to="{ name: 'editar-equipos', params: { id: this.idEquipo } }"
              class="btn btn-teams mx-1"
              ><i class="bi bi-pencil"></i
            ></router-link>
            <button
              data-bs-toggle="modal"
              data-bs-target="#eliminarEquipoModal"
              class="btn btn-teams"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>

        <div
          class="modal fade"
          id="eliminarEquipoModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-6 mt-4 ms-4">
                  <h5 class="titulo-modal">Eliminar equipo</h5>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div
                    class="
                      row
                      align-items-center
                      justify-content-center
                      text-modal
                    "
                  >
                    ¿Desea eliminar este equipo?
                  </div>
                </div>
              </div>

              <div class="modal-footer linea-footer">
                <button
                  type="button"
                  class="btn btn-cerrar"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="button"
                  class="btn btn-guardar"
                  data-bs-dismiss="modal"
                  @click="borrarEquipo"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 ms-3">
          <slot />
        </div>
      </div>
      <div class="row position-absolute" style="top: 165px">
        <div v-if="decoration != 'hidden'">
          <img style="height: 20px" src="@/assets/img/deco-admin.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/equipos/equipos.js";
export default {
  name: "cabecera",
  props: {
    ruta: String,
    rutaSec: String,
    titulo: String,
    ocultar: String,
    decoration: String,
    idEquipo: [String, Number],
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  methods: {
    borrarEquipo() {
      try {
        let id = this.idEquipo;
        console.log(id);
        axios.borrarEquipo(id).then(() => {
          this.$router.push({ name: "equipos" });
        });
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
#menu {
  text-align: left;
}
.text-main-ruta {
  text-decoration: none;
  color: #ff1e5b;
}
.text-main-ruta:hover {
  color: #ff1e5b;
}
.ruta {
  text-align: left;
  font: normal normal medium 17px/20px Gilroy;
  letter-spacing: 0px;
  color: #ff1e5b;
  text-decoration: none;
  opacity: 1;
  margin-left: 4px;
}
.single-line {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}
.linea-footer {
  border-top-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, white, pink, white) 1;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.titulo-contenido {
  font: normal normal bold 35px/43px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.btn-teams {
  border-radius: 100%;
  border-style: none;
  width: 40px;
  height: 40px;
  background: #ffd4df;
  color: #000000;
}
.btn-teams:hover {
  background: #ff1e5b 0% 0% no-repeat padding-box;
  color: white;
}
.text-ruta {
  color: grey;
  font: normal normal 200 20px Gilroy ☞;
}
.form-jugadores {
  text-align: left;
  opacity: 1;
}
</style>