<template>
  <div class="container-fluid d-middle h-100 login">
    <div class="row justify-content-lg-start">
      <div class="col-lg-3 mx-5 mt-5 px-3 contenedor-login">
        <div class="">
          <div class="row py-5">
            <div class="col-lg-6 mx-auto">
              <img
                class="img-fluid mx-auto img-logo"
                alt="Vue logo"
                src="../assets/img/logoLogin.svg"
              />
            </div>
          </div>
          <div class="row">
            <h3 class="texto-login">Iniciar sesion</h3>
          </div>
          <div class="row justify-content-center">
            <!-- Campo usuario -->
            <div class="d-flex contenedor-usuario p-1">
              <div class="col-1 d-flex">
                <img src="../assets/img/iconoAdmins.svg" class="filtro-gris" />
              </div>
              <div class="col-10 d-flex">
                <input
                  class="input-login"
                  autocomplete="off"
                  v-model="usuario"
                  placeholder="Usuario"
                  type="text"
                />
              </div>
              <div v-if="valido" class="d-flex">
                <img
                  src="../assets/img/iconoValidar.svg"
                  class="icon-validator"
                />
              </div>
            </div>
          </div>
          <!-- <div class="row container ms-2">
            eirugher
          </div> -->
          <!-- Campo contraseña -->
          <div class="row  justify-content-center">
            <div class="d-flex contenedor-usuario p-1 my-2">
              <div class="col-1 d-flex">
                <img src="../assets/img/iconoPass.svg" class="filtro-gris" />
              </div>
              <div class="col-10 d-flex">
                <input
                  class="input-login"
                  autocomplete="off"
                  v-model="password"
                  placeholder="Contraseña"
                  type="password"
                />
              </div>
            </div>
          </div>
          <div class="row ms-3">
            <p v-if="error" class="error m-0" style="text-align: left">Datos erroneos
              <ul class="lista ps-2" >
                <li><i class="bi bi-x"></i>El usuario debe ser una direccion de correo valida</li>
                <li><i class="bi bi-x"></i>Contraseña incorrecta</li>
              </ul>
            </p>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="submit" @click="login" class="btn btn-login">
              Ingresar
            </button>
          </div>
          <div class="row py-2">
            <div class="col-lg-6 mx-auto">
              <img
                class="img-fluid mx-auto p-2"
                alt="Vue logo"
                src="../assets/img/logoCoex.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-3"></div>
    </div>
    <router-view />
  </div>
</template>

<script>
import auth from "@/services/auth/auth";
export default {
  name: "login",
  props: {
    msg: String,
  },
  data() {
    return {
      usuario: "",
      password: "",
      error: false,
      valido: false,
    };
  },
  watch: {
    usuario(value) {
      this.usuario = value;
      this.validarEmail(value);
    },
  },

  methods: {
    async login() {
      try {
        const form = {
          correo: this.usuario,
          password: this.password,
        };
        let response = await auth.login(form);
        localStorage.setItem("accesToken", response.data.access_token);
        this.$router.push({ name: "pCarga" });
      } catch (error) {
        this.error = true;
      }
    },
    validarEmail(value) {
      if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
        this.valido = true;
      } else {
        this.valido = false;
      }
    },
  },
};
</script>

<style scoped>
.login {
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.input-login {
  padding: 5px;
  font: normal normal normal 14px/17px Rubik;
  background: #ffffff 0% 0% no-repeat padding-box;
  outline: none;
  border: 0px solid #dfe4e8;
  width: 100%;
}
.contenedor-usuario {
  border: 1px solid #dfe4e8;
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 34px;
  border-radius: 8px;
  opacity: 1;
  width: 80%;
}
.icon-validator {
  filter: invert(67%) sepia(26%) saturate(1134%) hue-rotate(99deg)
    brightness(98%) contrast(92%);
}
.filtro-gris {
  filter: invert(45%) sepia(8%) saturate(958%) hue-rotate(166deg)
    brightness(93%) contrast(81%);
}
.navbar {
  text-align: center;
}

.container input {
  margin: 5px;
}
.lista {
  list-style: none;
  font-size: 11px;
}
.img-logo {
  margin-top: 25px;
  margin-bottom: 25px;
}
.container h1 {
  margin: 10px;
}
.error {
  font-size: 12px;
  color: red;
}
.btn-login {
  font: normal normal medium 16px/19px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  background: #ff1e5b 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 80%;
}
.contenedor-login {
  background: transparent linear-gradient(180deg, #ffffff 0%, #f6f9fb 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 0.8;
}
.texto-login {
  text-align: center;
  font: normal normal bold 22px/30px Gilroy ☞;
  color: #001620;
  opacity: 1;
}
</style>