<template class="container">
  <div class="logo"><img src="../assets/img/logoLogin.svg" alt="" /></div>
</template>

<script>
export default {
  name: "carga",
  data() {
    return {
      message: "Welcome, Please Wait....",
    };
  },

  methods: {
    callFunction: function () {
      var v = this;

      setTimeout(function () {
        v.$router.push({ name: "equipos" });
      }, 2000);
    },
  },

  mounted() {
    this.callFunction();
  },
};
</script>

<style>
.logo{
    margin-top: 280px;
}
</style>