<template>
  <router-link
    :to="{ name: 'admins-info', params: { id: this.id } }"
    class="card-admin m-3"
  >
    <img :src="imagen" class="mt-3 img-card-admin" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ nombre | capitalize }} {{ apellidos | capitalize }}</h5>
      <div class="row">
        <img src="../../../assets/img/deco-admin.svg" alt="" />
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "cardAdmins",
  props: {
    nombre: String,
    apellidos: String,
    imagen: String,
    id: Number,
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>

<style lang="css" scoped>
.card-admin {
  width: 202px;
  height: 202px;
  align-items: center;
  text-decoration: none;
}
.img-card-admin {
  width: 106px;
  height: 106px;
  opacity: 1;
  border-radius: 100%;
  transition: box-shadow 0.4s;
}
.card-admin:hover .img-card-admin{
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.card-title {
  text-align: center;
  font: normal normal medium 20px/24px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
</style>