<template>
  <!-- Modal eliminar -->
  <div
    ref="modalDelete"
    class="modal fade"
    id="eliminarAdminModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-6 mt-4 ms-4">
            <h5 class="titulo-modal">Eliminar administrador</h5>
          </div>
          <div class="col-2">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div
              class="row align-items-center justify-content-center text-modal"
            >
              ¿Desea eliminar este administrador?
            </div>
          </div>
        </div>
        <div class="modal-footer linea-footer">
          <button type="button" class="btn btn-cerrar" data-bs-dismiss="modal">
            Cerrar
          </button>
            <button
              @click="borrarAdmin"
              type="button"
              class="btn btn-guardar"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Eliminar
            </button>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal eliminar -->
</template>

<script>
import axios from "@/services/auth/auth.js";
export default {
  data() {
    return {};
  },
  methods: {
    borrarAdmin() {
      try {
        let id = this.$route.params.id;
        axios.borrarAdmin(id).then(() => {
          this.$router.push({ name: "admins" });
        });
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
</style>