<template>
  <div id="app" class="">
    <!-- <router-link to="/"><i class="fab fa-accessible-icon"></i></router-link> |
      <router-link to="/about">About</router-link> |  
      <router-link to="/login">Login</router-link> | -->

    <router-view />
    <!-- <component :is="layout" v-if="layout" />-->
  </div>
</template>

<script>
const requireContext = require.context("./layouts", false, /.*\.vue$/);
const layouts = requireContext
  .keys()
  .map((file) => [file.replace(/(^.\/)|(\.vue$)/g, ""), requireContext(file)])
  .reduce((components, [name, component]) => {
    components[name] = component.default || component;
    return components;
  }, {});
export default {
  data() {
    return {
      layout: null,
      defaultLayout: "default",
      tooltipList: "default",
    };
  },
  methods: {
    setLayout(layout) {
      if (!layout || !layouts[layout]) {
        layout = this.defaultLayout;
      }
      this.layout = layouts[layout];
    },
  },
  // created() {
  //   var tooltipTriggerList = [].slice.call(
  //     document.querySelectorAll('[data-bs-toggle="tooltip"]')
  //   );
  //   var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  //     return new bootstrap.Tooltip(tooltipTriggerEl);
  //   });
  // },
};
</script>

<style>
#app {
  text-align: center;
  height: 100vh;
}
.btn:focus{
  box-shadow: none;
}
::placeholder {
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
}
</style>
