<template>
  <div class="container formJugadores">
    <div class="row">
      <div class="col-6 m-4">
        <h5 class="tituloForm">{{ titulo }}</h5>
      </div>
      <div class="col-6 align-self-end"></div>
    </div>
    <div class="row">
      <div class="col-4 offset-1">
        <slim-cropper class="agregar-imagen" :options="slimOptions">
          <input type="file" name="slim" id="slim" />
        </slim-cropper>
      </div>
      <div class="col-7">
        <div class="row">
          <label class="labelCrear" for="nombreEquipo">Nombres</label>
          <input
            id="nombreJug"
            class="inputsForm"
            type="text"
            placeholder="Nombre"
          />
        </div>
        <div class="row mt-4">
          <label class="labelCrear" for="apellidos">Apellidos</label>
          <input
            id="apellidosJug"
            class="inputsForm"
            type="text"
            placeholder="Apellidos"
          />
        </div>
        <div class="row mt-4">
          <label for="posicion" class="labelCrear"> Posicion </label>
          <select id="posicion" class="inputsForm">
            <option value="">Seleccionar</option>
            <option value="Delante">Delantero</option>
            <option value="Defensa">Defensa</option>
            <option value="Arquero">Arquero</option>
            <option value="MedioCampo">Medio campista</option>
          </select>
        </div>
        <div class="row mt-4">
          <label class="labelCrear" for="nivelDeportivo">Nivel deportivo</label>
          <input
            id="nivelDeportivo"
            class="inputsForm"
            type="text"
            placeholder="Acerca del team"
          />
        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-end">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "juagador",
  props: {
    titulo: String,
  },
  data() {
    return {
      mostrarForm: true,
      slimOptions: {
        label: "Añadir imagen",
      },
    };
  },
};
</script>

<style >
.tituloForm {
  text-align: left;
}
.inputsForm {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  width: 360px;
  height: 40px;
  text-align: left;
  font: normal normal normal 14px/17px Rubik;
  letter-spacing: 0px;
  color: #dfe4e8;
  opacity: 1;
}
</style>