<template>
  <div class="container h-100">
    <div class="row mx-0 h-100">
      <div
        id="menuNav"
        class="col-auto h-100 position-fixed justify-content-center"
      >
        <div class="my-4 row">
          <img
            id="logoMenu"
            class="img-fluid mx-auto px-auto"
            alt="Vue logo"
            src="../assets/img/logoMenu.svg"
          />
        </div>
        <div class="mt-5 row" v-for="(icon, index) in icons" :key="icon.id">
          <div class="container d-flex justify-content-center">
            <div
              class="icono d-flex align-items-center"
              v-bind:class="
                $route.path.includes(icon.name) ? 'iconoactivo' : ' '
              "
            >
              <router-link
                :to="icon.ruta"
                data-bs-toggle="tooltip"
                tittle="Equipos"
                data-bs-placement="right"
              >
                <img
                  v-on:click="markIconEvent($event, index)"
                  class="img-fluid iconEquipo mx-auto px-auto"
                  alt="Vue logo"
                  :src="icon.image"
                />
              </router-link>
            </div>
          </div>
        </div>

        <div class="row align-items-end">
          <div class="container">
            <img
              class="img-fluid iconUser iconoBajo mx-auto p-2"
              alt="Vue logo"
              style="border-radius: 100%; cursor: pointer"
              :src="admin"
              @click="cerrarSesion"
            />
          </div>
        </div>
        <div class="row align-items-end">
          <div class="container mt-4">
            <img
              class="img-fluid iconoBajo my-2 mx-auto p-2"
              alt="Vue logo"
              src="../assets/img/logo-coex.svg"
            />
          </div>
        </div>
      </div>
      <div class="col contenido">
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
import axios from "@/services/auth/auth.js";
export default {
  name: "navbarLayout",
  data() {
    return {
      admin: [],
      icons: [
        {
          id: 1,
          image: require("../assets/img/iconoEquiposPeque.svg"),
          Iconmark: true,
          ruta: "/equipos",
          name: "equipos",
        },
        {
          id: 2,
          image: require("../assets/img/iconoAdmins.svg"),
          Iconmark: false,
          ruta: "/administradores",
          name: "administradores",
        },
        {
          id: 3,
          image: require("../assets/img/iconoConfigurar.svg"),
          Iconmark: false,
          ruta: "/configuracion",
          name: "configuracion",
        },
      ],
    };
  },
  mounted(){
    this.me()
  },
  methods: {
    cerrarSesion() {
      try {
        axios.logout();
        localStorage.removeItem('accesToken');
        this.$router.push("/");
      } catch (error) {
        return error;
      }
    },

    async me(){
      const {data} = await axios.me();
      this.admin = data;
    },
    markIconEvent($event, index) {
      this.icons.forEach((icon) => (icon.Iconmark = false));
      this.icons[index].Iconmark = !this.icons[index].Iconmark;
    },
  },
};
</script>
<style >
#menuNav {
  box-shadow: 0px 1px 3px #00000029;
  opacity: 1;
  width: 80px;
}
#equipos {
  background-color: #fff;
}

#logoMenu {
  height: auto;
  width: auto;
}
.icono:hover {
  background-color: #00e1a4;
  filter: invert(100%);
  border-radius: 100%;
}
.iconoactivo {
  background-color: #00e1a4;
  filter: invert(100%);
  border-radius: 100%;
}
.icono {
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}
.iconoBajo{
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.iconEquipo {
  height: 35px;
}
.iconUser {
  margin-top: 230px;
}
.contenido {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 80px;
}
</style>